<div class="p-3">
  <a
    routerLink="/profile"
    class="p-3 block w-full flex bg-slate-900 duration-200 ease-out hover:bg-slate-800 rounded gap-3"
  >
    <app-avatar
      [width]="'w-10'"
      [height]="'h-10'"
      id="canvas-avatar"
    ></app-avatar>
    <div class="flex flex-col">
      <span>{{ (user$ | async)?.name }}</span>
      <span class="text-sm text-slate-400">{{
        "@" + (user$ | async)?.email
      }}</span>
    </div>
  </a>
</div>
<div class="p-3">
  <ul>
    <li>
      <a
        routerLink="/profile"
        class="px-3 w-full text-start block py-2 bg-slate-900 duration-200 ease-out hover:bg-slate-800 rounded"
        >Profile</a
      >
    </li>
    <li>
      <a
        routerLink="/profile"
        class="px-3 w-full text-start block py-2 bg-slate-900 duration-200 ease-out hover:bg-slate-800 rounded"
      >
        Saves
      </a>
    </li>
    <li>
      <app-logout-button
        [class]="
          'px-3 py-2 w-full text-start block bg-slate-900 duration-200 ease-out hover:bg-slate-800 rounded'
        "
      ></app-logout-button>
    </li>
  </ul>
</div>
<div class="p-3 border-t border-slate-700 block">
  <ul>
    <li>
      <a
        routerLink="/"
        class="px-3 w-full text-start block py-2 bg-slate-900 duration-200 ease-out hover:bg-slate-800 rounded"
      >
        Home
      </a>
    </li>
    <li>
      <a
        routerLink="/problems"
        class="px-3 w-full text-start block py-2 bg-slate-900 duration-200 ease-out hover:bg-slate-800 rounded"
      >
        Problems
      </a>
    </li>
  </ul>
</div>
