<div
  *ngIf="error && error.message"
  [ngClass]="{
    'pl-3 pr-1 py-2': showClose,
    'p-3': !showClose,
    'bg-red-800': true,
    border: true,
    rounded: true,
    'border-red-300': true,
    'text-red-300': true,
    relative: true
  }"
  [class]="class"
  data-test-id="error-alert"
>
  Error: {{ error.message }}
  <button
    *ngIf="showClose"
    class="absolute right-1 top-2/4 -translate-y-2/4 w-9 h-9 rounded hover:bg-red-300 actve:bg-red-400"
    (click)="setError()"
  >
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>
