<div class="bg-slate-800 h-full rounded flex flex-col">
  <div class="px-2 py-1.5">
    <h4 class="font-semibold">Solution</h4>
  </div>
  <div class="bg-slate-950 px-2 py-1 border-b border-slate-800">
    <button
      class="text-sm px-2 py-1 hover:bg-slate-900 active:bg-slate-800 duration-200 ease-out text-slate-400 rounded"
    >
      JavaScript <i class="fa-solid fa-chevron-down fa-sm"></i>
    </button>
    <button
      class="text-sm px-2 py-1 hover:bg-slate-900 active:bg-slate-800 duration-200 ease-out text-slate-400 rounded"
    >
      Node v18.x <i class="fa-solid fa-chevron-down fa-sm"></i>
    </button>
  </div>
  <div class="h-full">
    <textarea
      class="bg-slate-950 w-full h-full text-white px-2 py-1.5 resize-none focus:outline outline-2 outline-offset-2 outline-slate-400 rounded-b"
    ></textarea>
  </div>
</div>
