<app-navbar></app-navbar>
<section class="flex flex-col items-center pt-7">
  <div class="border border-slate-700 rounded w-[45rem]">
    <div class="flex flex-col gap-1 p-5">
      <label for="title">Title</label>
      <input
        name="title"
        id="title"
        class="border border-slate-700 rounded bg-inherit p-2.5"
        placeholder="Title"
      />
    </div>

    <ul class="flex border-t border-slate-700 border-b p-1 gap-3">
      <li>
        <button
          class="text-2xl w-12 h-12 hover:bg-slate-800 active:bg-slate-700 duration-200 ease-out rounded"
        >
          <strong>B</strong>
        </button>
      </li>
      <li>
        <button
          class="text-2xl w-12 h-12 hover:bg-slate-800 active:bg-slate-700 duration-200 ease-out italic rounded"
        >
          <em>I</em>
        </button>
      </li>
      <li>
        <button
          class="text-2xl w-12 h-12 hover:bg-slate-800 active:bg-slate-700 duration-200 ease-out rounded"
        >
          <i class="fa-solid fa-list-ul"></i>
        </button>
      </li>
      <li>
        <button
          class="text-2xl w-12 h-12 hover:bg-slate-800 active:bg-slate-700 duration-200 ease-out rounded"
        >
          <i class="fa-solid fa-list-ol"></i>
        </button>
      </li>
      <li>
        <button
          class="text-2xl w-12 h-12 hover:bg-slate-800 active:bg-slate-700 duration-200 ease-out rounded"
        >
          <i class="fa-solid fa-code"></i>
        </button>
      </li>
      <li>
        <button
          class="text-2xl w-12 h-12 hover:bg-slate-800 active:bg-slate-700 duration-200 ease-out rounded"
        >
          <i class="fa-solid fa-quote-left"></i>
        </button>
      </li>
      <li>
        <button
          class="text-2xl w-12 h-12 hover:bg-slate-800 active:bg-slate-700 duration-200 ease-out rounded"
        >
          H
        </button>
      </li>
      <li>
        <button
          class="text-2xl w-12 h-12 hover:bg-slate-800 active:bg-slate-700 duration-200 ease-out rounded"
        >
          2P
        </button>
      </li>
    </ul>
    <div>
      <textarea
        class="w-full bg-inherit p-3"
        placeholder="enter the question"
      ></textarea>
    </div>
  </div>
</section>
